@model AuxiliarString;
@{
    //ViewData["Title"] = "Index";
    IEnumerable<BecadosListaBecados> _listaBecados = ViewBag.listaAlumnos;
    int contador = 1;
    ViewData["Title"] = "Becados";
}


<div class="row container">

    
    <!-- Button trigger modal -->

    <div class="row" style="padding-top:2em;padding-bottom:2em">
        <div class="col-8">
            <h4>Lista de Alumnos Becados</h4>
        </div>


        <div class="col-4 d-flex justify-content-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Agregar Becado
            </button>
        </div>

    </div>
    
    <div id="listaAlumnos" class="listaAlumnos">

        <table class="table table-hover" id="tablaAlumnos">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo Alumno</th>
                    <th scope="col">Apellidos y Nombres</th>
                    <th scope="col">Fecha Registro</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody id="cuerpo_tabla">

                @if(_listaBecados.Count()<1){

                    <h5>No se encontraron alumnos becados</h5>
                    
                }else{
                    @foreach (var item in _listaBecados)
                    {
                        <tr class="item-tr-@contador">
                            <td scope="row">@contador</td>
                            <td id="label-@contador">@item.idPersona</td>
                            <td id="label-@contador">@item.nombresApellidos</td>
                            <td id="label-@contador">@item.fechaRegistro</td>
                            <td id="label-@contador">
                                
                                @if(item.estado=="Activo"){
                                    <p style="color:blue"> Activo</p>
                                }else{
                                    <p style="color:red"> Inactivo</p>
                                }
                            
                            </td>
                            @if (item.estado == "Activo")
                            {
                                <td> <a class="btn btn-outline-secondary" onclick="desactivarElemento('@item.idBecado','@item.idPersona')">Desactivar</a> </td>
                            }else{
                                <td> <a class="btn btn-outline-secondary" onclick="activarElemento('@item.idBecado','@item.idPersona')">Activar</a> </td>
                            }
                            
                            <td> <a class="btn btn-outline-danger" onclick="eliminarElemento('@item.idBecado','@item.idPersona')">Eliminar</a> </td>
                        </tr>
                        contador++;
                    }
                }
                
                
            </tbody>
        </table>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Becados" asp-action="BusquedaAlumnos" method="POST">

                        <div class="container row">
                            <div class="col-10">
                                <input asp-for="cadenaString" type="text" class="form-control" style="width:100%" id="cadena" placeholder="Busqueda de alumno por DNI, codigo, o Apellidos y Nombres" />
                            </div>
                            <div class="col-2">
                                <a class="btn btn-outline-secondary" onclick="buscarAlumno()">Buscar</a>
                            </div>
                        </div>
                    </form>

                    <br />

                    <div class="row">

                        <table class="table table-hover" id="tabla_alumnos" style="opacity:0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">IdAlumno</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Asignar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* <tr>
                                    <th scope="row">1</th>
                                    <td>13254156</td>
                                    <td>Otto</td>
                                    <td><a class="btn btn-outline-secondary" onclick="agregarBecado('id','@contador')">Editar</a> </td>
                                </tr> *@
                               
                            </tbody>
                        </table>
                    </div>


                </div>
               @*  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> *@
            </div>
        </div>
    </div>


    
        
</div>


<script>

    function buscarAlumno(){
        var textoIngresado =document.getElementById("cadena");

        var table=document.getElementById("tabla_alumnos");

        
        table.querySelector("tbody").innerHTML="";

         $.ajax({
                url:'@Url.Action("BusquedaAlumnos", "Becados")',
                data:{cadena:textoIngresado.value},
                type : 'POST',
                dataType : 'json',
                success : function(json) {
                    //console.log(json);
                    var count=0;

                    json.forEach((element) => {
                        count++;
                        $(table).find('tbody').append('<tr> <td>' + count + '</td> <td> ' + element.idPersona + ' </td> <td> ' + element.fullname + ' </td> <td><a class="btn btn-outline-secondary" onclick="agregarBecado(`'+element.idPersona+'`)">Agregar</a> </tr>');

                    });
                    
                    table.style.opacity='1';
                },
                error : function(xhr, status) {
                alert('Disculpe, existió un problema');
            }});


    }

    function agregarBecado(idPersona){

            
              $.ajax({
                url:'@Url.Action("BusquedaAlumnos", "Becados")',
                data:{cadena:idPersona},
                type : 'POST',
                dataType : 'json',
                success : function(json) {

                    json.forEach((element) => {

                         Swal.fire({
                          title: "¿Seguro que desea becar a "+element.fullname+"?",
                          showDenyButton: false,
                          showCancelButton: true,
                          confirmButtonText: "Guardar"                          
                        }).then((result) => {
                          /* Read more about isConfirmed, isDenied below */
                          if (result.isConfirmed) {
                            
                                $.ajax({
                                    url:'@Url.Action("RegistrarBecado", "Becados")',
                                    data:{idPersona:idPersona},
                                    type : 'POST',
                                    dataType : 'json',
                                    success : function(result) {
                                        console.log(result);
                                        Swal.fire({
                                              title: "Se ha guardado exitosamente!",
                                              text: "El codigo de guardado es "+result,
                                              icon: "success"
                                            
                                            }).then((result)=>{
                                                location.reload();
                                            });

                                            

                                    },
                                    error : function(xhr, status) {
                                    alert('Disculpe, existió un problema');
                                }});

                          } 
                        });
                        
                       

                    });

                    
                },
                error : function(xhr, status) {
                alert('Disculpe, existió un problema');
            }});


           
    }


    function eliminarElemento(idBecado,idPersona){

         $.ajax({
                url:'@Url.Action("BusquedaAlumnosIdPersona", "Becados")',
                data:{cadena:idPersona},
                type : 'POST',
                dataType : 'json',
                success : function(json) {
                    console.log(json);
                    json.forEach((element) => {
                        console.log(element);

                         Swal.fire({
                          title: "¿Seguro que desea retirar la beca a "+element.fullname+"?",
                          showDenyButton: false,
                          showCancelButton: true,
                          confirmButtonText: "Retirar"
                        }).then((result) => {
                          /* Read more about isConfirmed, isDenied below */
                          if (result.isConfirmed) {

                                $.ajax({
                                    url:'@Url.Action("EliminarBecado", "Becados")',
                                    data:{idBecado:idBecado},
                                    type : 'POST',
                                    dataType : 'json',
                                    success : function(result) {
                                        
                                        if(result='ok'){
                                             Swal.fire({
                                              title: "Exito!",
                                              text: "Se ha eliminado correctamente el alumno ",
                                              icon: "success"

                                            }).then((result)=>{
                                                location.reload();
                                            });
                                        }else{
                                            alert('Disculpe, existió un problema');
                                        }

                                    },
                                    error : function(xhr, status) {
                                    alert('Disculpe, existió un problema');
                                }});

                          }
                        });



                    });


                },
                error : function(xhr, status) {
                alert('Disculpe, existió un problema');
            }});


    }


    function activarElemento(idBecado){


            Swal.fire({
            title: "¿Seguro que desea activar la beca?",
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: "Activar"
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                $.ajax({
                    url:'@Url.Action("ActivarBecado", "Becados")',
                    data:{idBecado:idBecado},
                    type : 'POST',
                    dataType : 'json',
                    success : function(result) {

                        if(result='ok'){
                                Swal.fire({
                                title: "Exito!",
                                text: "Se ha activado correctamente el alumno ",
                                icon: "success"

                            }).then((result)=>{
                                location.reload();
                            });
                        }else{
                            alert('Disculpe, existió un problema');
                        }

                    },
                    error : function(xhr, status) {
                    alert('Disculpe, existió un problema');
                }});

            }
        });

    }


    function desactivarElemento(idBecado){


            Swal.fire({
            title: "¿Seguro que desea desactivar la beca?",
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: "Desactivar"
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                $.ajax({
                    url:'@Url.Action("DesactivarBecado", "Becados")',
                    data:{idBecado:idBecado},
                    type : 'POST',
                    dataType : 'json',
                    success : function(result) {

                        if(result='ok'){
                                Swal.fire({
                                title: "Exito!",
                                text: "Se ha desactivado correctamente el alumno ",
                                icon: "success"

                            }).then((result)=>{
                                location.reload();
                            });
                        }else{
                            alert('Disculpe, existió un problema');
                        }

                    },
                    error : function(xhr, status) {
                    alert('Disculpe, existió un problema');
                }});

            }
        });

    }


</script>