@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Asignar Cajero";
    IEnumerable<ListaPeriodo> _listaPeriodo = ViewBag.periodo;
}

<h1>Asignar Cajero</h1>
<br />
<div class="row container">
    
    <div class="col-12 row">

        <div class="col-4">
            <select class="form-select" aria-label="Default select example" id="sede">
                <option selected>Seleccione la sede</option>
                @foreach (var item in Model)
                {
                    <option value="@item.IdSede">@item.Sede</option>
                }

            </select>

            <select class="form-select mt-3" aria-label="Default select example" id="periodo">
                <option selected>Seleccione el periodo</option>
                @foreach (var item in _listaPeriodo)
                {
                    <option value="@item.periodoTexto">@item.periodoDescripcion</option>
                }

            </select>

            <a onclick="_listarCajeros()" class="btn btn-success mt-3" style="width:100% !important">Listar</a>

        </div>

        <div class="col-8" style="padding-left:1rem;opacity:0;" id="divAsignaciones">

            <div class="col-12 card">
                <div class="row" style="padding:1rem;">
                    <div class="col-6">
                        <select class="form-select" aria-label="Default select example" id="cajerosLista">
                            <option selected>Seleccione el Cajero a agregar</option>


                        </select>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-4">
                        <a class="btn btn-outline-primary" onclick="agregarCajero()" disabled>Agregar Cajero Seleccionado</a>
                    </div>

                </div>

                
            </div>
            <div class=" card mt-3">
                <div class="col-12" style="padding:1rem">
                    <table class="table table-striped table-hover" id="tabla_cajeros" >
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Sede</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Apellidos y Nombres</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Desactivar</th>
                                <th scope="col">Eiminar</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>


                </div>
                
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script>

        function _listarCajeros(){
            var sede=document.getElementById("sede").value;
            var periodo=document.getElementById("periodo").value;

            document.getElementById("cajerosLista").innerHTML='';
            $('#cajerosLista').append('<option value=null selected=”selected”>Seleccione cajero a asignar</option>');


             var table=document.getElementById("tabla_cajeros");
             var divAsignaciones=document.getElementById("divAsignaciones");


            table.querySelector("tbody").innerHTML="";

            //Cargar elementos al combo

             $.ajax({
                url:'@Url.Action("_listaCajeros", "Cajero")',
                data:{periodo:periodo,sede:sede},
                type : 'POST',
                dataType : 'json',
                success : function(result) {

                    //console.log(result);

                    if(result.length>0){
                           $.each(result,function(bb){

                            $('#cajerosLista').append('<option value='+result[bb].cadena1+' >'+result[bb].cadena2+'</option>');
                        });

                    }

                    //Busqueda de tabla


                    $.ajax({
                    url:'@Url.Action("_tablaCajeros", "Cajero")',
                    data:{periodo:periodo,sede:sede},
                    type : 'POST',
                    dataType : 'json',
                    success : function(resultados) {

                        console.log(resultados);

                        var count=0;

                        resultados.forEach((element) => {
                            count++;
                            if(element.estado){
                                 $(table).find('tbody').append('<tr> <td>' + count + '</td> <td>' + element.sede + '</td> <td> ' + element.usuarioCajero + ' </td> <td> ' + element.apellidoPaterno+' '+element.apellidoMaterno+' '+element.nombres1 + ' </td>  <td style="color:blue"> Activo </td>  <td><a class="btn btn-outline-primary" onclick="desactivarCajeroActivo('+element.idCajeroAsignacion+')">Desactivar</a> </td>  <td><a class="btn btn-outline-danger" onclick="eliminarCajeroActivo('+element.idCajeroAsignacion+')">Eliminar</a> </td> </tr>');
                            }else{
                                 $(table).find('tbody').append('<tr> <td>' + count + '</td> <td>' + element.sede + '</td> <td> ' + element.usuarioCajero + ' </td> <td> ' + element.apellidoPaterno+' '+element.apellidoMaterno+' '+element.nombres1 + ' </td>  <td style="color:red"> Inactivo </td>  <td><a class="btn btn-outline-secondary" onclick="activarCajeroActivo('+element.idCajeroAsignacion+')">Activar</a> </td><td><a class="btn btn-outline-danger" onclick="eliminarCajeroActivo('+element.idCajeroAsignacion+')">Eliminar</a> </td> </tr>');
                            }


                        });


                        divAsignaciones.style.opacity='1';
                        //table.style.opacity='1';

                    },
                    error : function(xhr, status) {
                    alert('Disculpe, existió un problema');
                   }});




                },
                error : function(xhr, status) {
                alert('Disculpe, existió un problema');
               }});


              // $('#cajerosLista').prepend($('<option />', {
              //     text: 'I: Líder ' + ($lider_list.length + 1),
              //     value: $lider_list.length + 1,
              //   }));


        }

        function agregarCajero(){
            var sede=document.getElementById("sede").value;
            var periodo=document.getElementById("periodo").value;
            var usuarioCajero=document.getElementById("cajerosLista").value;
            console.log(usuarioCajero);

            if(usuarioCajero =='null'){
                alert('Seleccione un cajero a asignar');
            }else{

                var objeto={
                idSede:sede,
                periodo:periodo,
                usuarioCajero:usuarioCajero
                };

                  $.ajax({
                    url:'@Url.Action("RegistrarCajero", "Cajero")',
                    data:{_cajeroRegistro:objeto},
                    type : 'POST',
                    dataType : 'json',
                    success : function(resultados) {

                         Swal.fire({
                            title: "Se ha registrado exitosamente!",
                            text: "El codigo de guardado es "+resultados,
                            icon: "success"

                        }).then((result)=>{

                            _listarCajeros();

                        });


                    },
                    error : function(xhr, status) {
                    alert('Disculpe, existió un problema');
                   }});
            }

        }

        function desactivarCajeroActivo(idAsignacion){
             $.ajax({
            url:'@Url.Action("DesactivarCajeroAsignado", "Cajero")',
            data:{idCajeroAsignado:idAsignacion},
            type : 'POST',
            dataType : 'json',
            success : function(resultados) {

                 Swal.fire({
                    title: "Se ha desactivado exitosamente!",

                    icon: "success"

                }).then((result)=>{
                    _listarCajeros();
                });


            },
            error : function(xhr, status) {
            alert('Disculpe, existió un problema');
            }});
        }


         function activarCajeroActivo(idAsignacion){
             $.ajax({
            url:'@Url.Action("ActivarCajeroAsignado", "Cajero")',
            data:{idCajeroAsignado:idAsignacion},
            type : 'POST',
            dataType : 'json',
            success : function(resultados) {

                Swal.fire({
                    title: "Se ha activado exitosamente!",

                    icon: "success"

                }).then((result)=>{
                    _listarCajeros();
                });


            },
            error : function(xhr, status) {
            alert('Disculpe, existió un problema');
            }});
        }

         function eliminarCajeroActivo(idAsignacion){
             $.ajax({
            url:'@Url.Action("EliminarCajeroAsignado", "Cajero")',
            data:{idCajeroAsignado:idAsignacion},
            type : 'POST',
            dataType : 'json',
            success : function(resultados) {

                 Swal.fire({
                    title: "Se ha eliminado exitosamente!",

                    icon: "success"

                }).then((result)=>{
                    _listarCajeros();
                });

            },
            error : function(xhr, status) {
            alert('Disculpe, existió un problema');
            }});
        }






    </script>

}

