
@{
    ViewData["Title"] = "Index";
    IEnumerable<ListaPeriodo> _listaPeriodo = ViewBag.listaPeriodos;
    IEnumerable<InstitucionSede> _listaSedes = ViewBag.listaSedes;
    IEnumerable<dynamic> _listaCajeros = ViewBag.listaCajeros;
}

<h1>Redirección de Cajeros</h1>

<div class="container row">

    <div class="col-12 row">

        <h4>Seleccione el periodo y Sede</h4>
        <div class="col-12 row">
            <div class="col-4">
                <select class="form-select" aria-label="Default select example" id="periodoSeleccionado">
                    <option selected disabled>Seleccione el Periodo</option>
                    @foreach (var item in _listaPeriodo)
                    {
                        <option value="@item.periodoTexto">@item.periodoDescripcion</option>
                    }

                </select>
            </div>

            <div class="col-4">
                <select class="form-select" aria-label="Default select example" id="sedeSeleccionado" onchange="activarOrigen()">
                    <option selected disabled>Seleccione la Sede</option>
                    @foreach (var item in _listaSedes)
                    {
                        <option value="@item.IdSede">@item.Sede</option>
                    }

                </select>
            </div>

            <div class="col-4">
                <input type="button" class="btn btn-danger" id="_botonVerResumen" value="Resumen" onclick="detalleResumenPagos()" />
            </div>

        </div>

        
        

        <div class="mt-3 col-12 row">

            <div class="col-4">
               @*  <label> Cajero origen</label> *@
                <select class="form-select" aria-label="Default select example" id="cajeroOrigenSeleccionado" onchange="cambioCajeroOrigen()" disabled>
                    <option selected disabled>Cajero Origen</option>
                    @foreach (var item in _listaCajeros)
                    {
                        <option value="@item.usuarioCajero">@item.ApellidoPaterno @item.ApellidoMaterno @item.Nombres1 @item.Nombres2</option>
                    }
                </select>

                

            </div>

            <div class="col-4">
                @* <label> Cajero destino</label> *@
                <select class="form-select" aria-label="Default select example" id="cajeroDestinoSeleccionado" disabled>
                    <option selected disabled>Cajero Destino</option>
                    @foreach (var item in _listaCajeros)
                    {
                        <option value="@item.usuarioCajero">@item.ApellidoPaterno @item.ApellidoMaterno @item.Nombres1 @item.Nombres2</option>
                    }
                </select>

            </div>

            <div class="col-4">
               @*  <label> Transferir</label> *@
                <input type="submit" class="btn btn-primary" id="_botonTransferir" value="Transferir" onclick="_obteneridClic()" />
            </div>


        </div>

    </div>

    <div class="col-12">
        <div id="tablaTransaccionesPendientes">

        </div>




    </div>

    


</div>


<!-- Modal -->
<div class="modal fade" id="modalTransacciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">

        <div id="contenidoModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalResumen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div id="contenidoModalResumen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>

        </div>

    </div>
</div>



@section Scripts{

    <script>
        function cambioCajeroOrigen()
        {
            var origen=$('#cajeroOrigenSeleccionado').val();

            

            if(origen=='1000')
            {
                var periodo=$('#periodoSeleccionado').val();
                var sede=$('#sedeSeleccionado').val();
                var data = { sede:sede,periodo:periodo};
                var url = '@Url.Action("TablaTransaccionesTodos", "Redireccion")';
                $('#tablaTransaccionesPendientes').load(url, data, function (responseTxt, statusTxt, xhr) {
                if (statusTxt == "success") {
                    //jQuery('#tablaTransaccionesPendientes').animate('opacity') = '1';
                }
                 });
            }else{
                var periodo=$('#periodoSeleccionado').val();
                var data = { idCajero:origen,periodo:periodo};
                var url = '@Url.Action("TablaTransacciones", "Redireccion")';
                $('#tablaTransaccionesPendientes').load(url, data, function (responseTxt, statusTxt, xhr) {
                if (statusTxt == "success") {
                    //jQuery('#tablaTransaccionesPendientes').animate('opacity') = '1';
                }
            });
            }

        }

        function activarOrigen()
        {
             var periodo=$('#periodoSeleccionado').val();
             var sede=$('#sedeSeleccionado').val();
             var valueTodos=1000;

             document.getElementById("cajeroOrigenSeleccionado").innerHTML='';
             $('#cajeroOrigenSeleccionado').append('<option  selected disabled>Seleccione cajero origen</option>');
             

             document.getElementById("cajeroDestinoSeleccionado").innerHTML='';
             $('#cajeroDestinoSeleccionado').append('<option  selected disabled>Seleccione cajero destino</option>');

             $.ajax({
                    url:'@Url.Action("CajerosActivosPeriodo", "Redireccion")',
                    data:{periodo:periodo,sede:sede},
                    type : 'POST',
                    dataType : 'json',
                    success : function(json) {

                        if(json.length>0){
                           $.each(json,function(bb){
                            $('#cajeroOrigenSeleccionado').append('<option value='+json[bb].idCajero+' >'+json[bb].apellidosNombre+'</option>');
                            });
                        }

                        $('#cajeroOrigenSeleccionado').prop("disabled", false); // Element(s) are now enabled.


                        if(json.length>0){
                           $.each(json,function(bb){
                            $('#cajeroDestinoSeleccionado').append('<option value='+json[bb].idCajero+' >'+json[bb].apellidosNombre+'</option>');
                            });
                        }

                        $('#cajeroDestinoSeleccionado').prop("disabled", false); // Element(s) are now enabled.


                    },
                    error : function(xhr, status) {
                    alert('Disculpe, existió un problema');
                }});

            $('#cajeroOrigenSeleccionado').append('<option value='+valueTodos+'>TODOS</option>');

        }

        function _obteneridClic(){

            let transactionPasar=[];

            $('.custom-control-input').each( (index, element) => {
                if(element.checked){
                    var idTransaccion=$(element).attr('id');

                    transactionPasar.push(idTransaccion);


                    
                }
            });

            //console.log(transactionPasar);

            var cajeroDestino=$('#cajeroDestinoSeleccionado').val();

            if(transactionPasar.length==0){
                alert('Debe seleccionar uno de los elementos');
            }else if(cajeroDestino=='') {
                alert('Debe seleccionar un cajero');
            }else{

                $.ajax({
                        url:'@Url.Action("TransferirElementos", "Redireccion")',
                        data:{itemsTransferir:transactionPasar,idCajeroNuevo:cajeroDestino},
                        type : 'POST',
                        dataType : 'json',
                        success : function(result) {
                            console.log(result);
                            Swal.fire({
                                    title: "Se ha guardado exitosamente!",
                                    icon: "success"

                                }).then((result)=>{
                                    cambioCajeroOrigen();

                                });
                        },
                        error : function(xhr, status) {
                        alert('Disculpe, existió un problema');
                  }});

            }
        }


         const containerModalTransacciones = document.getElementById("modalTransacciones");
        const modalTransaccionesDetalle = new bootstrap.Modal(containerModalTransacciones);


        function detalleTransaccion(idTransaccion){

                var data = { id:idTransaccion};
                var url = '@Url.Action("modalTransacciones", "Redireccion")';
                $('#contenidoModal').load(url, data, function (responseTxt, statusTxt, xhr) {
                    if (statusTxt == "success") {
                        modalTransaccionesDetalle.show();
                    }
                });

        }


        const containerModalPagos = document.getElementById("modalResumen");
        const modalPagosPendientes = new bootstrap.Modal(containerModalPagos);


        function detalleResumenPagos(){

                var periodo=$('#periodoSeleccionado').val();
                var sede=$('#sedeSeleccionado').val();

                console.log(periodo);
                console.log(sede);

                if(periodo == null||sede ==null)
                {
                    alert('Falta seleccionar el periodo o la sede')
                }else{

                    var data = { periodo:periodo,sede:sede};
                    var url = '@Url.Action("modalResumenCajeros", "Redireccion")';
                    $('#contenidoModalResumen').load(url, data, function (responseTxt, statusTxt, xhr) {
                        if (statusTxt == "success") {
                            modalPagosPendientes.show();
                        }
                    });

                }


               

        }


    </script>


}