@model List<CajaTransaccionListaTodos>
@{
    ViewData["Title"] = "TablaTransaccionesTodos";

    int contador = 1;

}

<div class="container mt-3">
    <div class="row">

        @* <h1>Vouchers Pendientes para el periodo</h1> *@

        @* <div class="col-4 mb-3">
            <a class="btn btn-primary" onclick="recargarTabla()"> Actualizar Tabla</a>
        </div>
        <div class="col-4 mb-3"></div>
        <div class="col-4 mb-3"></div> *@

        <div class="col-12">
            <table class="table table-hover" id="tablaTransaccionesPendientes">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> Marcar </th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Periodo</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Modalidad</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Frecuencia - Horario</th>
                        <th scope="col">Cajero</th>
                        <th scope="col">Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@contador</th>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input custom-control-input" type="checkbox" value="" id="@item.IdTransaccionesPagadas">
                                </div>
                            </td>
                            <td>@item.FechaRegistro</td>

                            <td> <span class="badge text-bg-dark">@item.periodoTexto</span> </td>
                            @if (item.Modalidad != "")
                            {
                                @if(item.observado!=true){
                                    <td> <span class="badge text-bg-primary">Matricula</span> </td>
                                }else{
                                    <td> <span class="badge text-bg-danger">Matricula</span> </td>
                                }

                            }
                            else
                            {
                                @if (item.observado != true)
                                {
                                    <td> <span class="badge text-bg-info">Otro</span></td>
                                }else{
                                    <td> <span class="badge text-bg-danger">Otro</span></td>
                                }
                            }

                            <td>@item.NombreCompleto</td>
                            <td>@item.Modalidad</td>
                            <td>@item.curso</td>
                            <td>@item.Horario</td>
                            <td>
                                <span class="badge bg-secondary">
                                @item.Cajero
                                    </span>
                                </td>
                            <td> <a class="btn btn-outline-success" onclick="detalleTransaccion('@item.idTransacciones')">Detalles</a> </td>

                        </tr>
                        contador++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



